.container .cat {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 40px 85px 0px rgba(0, 0, 0, 0.53);
    transition: box-shadow ease 2s;
    background: #D98B3A;
    border-bottom-color: #D98B3A;
    border-radius: 0 0 2px 2px;
    width: 12rem;
    height: 14rem;
}
.container .cat:hover, body .container .cat:focus {
    cursor: pointer;
    box-shadow: 0px 40px 185px 0px rgba(0, 0, 0, 0.53);
    transition: box-shadow ease 2s;
}
.container .cat:hover .mouth, body .container .cat:focus .mouth {
    height: 2rem;
    transition: height linear forwards;
}
.container .cat:hover .eye:before, .container .cat:focus .eye:before {
    height: 0;
    transition: height ease 2s;
}
.container .cat:hover .plate, .container .cat:focus .plate {
    -webkit-animation: plate-hide 2s ease forwards;
    animation: plate-hide 2s ease forwards;
}
.container .cat:hover .arm.left, .container .cat:focus .arm.left {
    -webkit-animation: arm-move 2s ease forwards;
    animation: arm-move 2s ease forwards;
}
.container .cat:before, .container .cat:after {
    position: absolute;
    content: "";
    bottom: 100%;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-bottom-color: inherit;
}
.container .cat:before {
    border-left: 0px solid transparent;
    border-right: 35px solid transparent;
}
.container .cat:after {
    border-left: 35px solid transparent;
    border-right: 0px solid transparent;
    right: 0;
}
.container .cat .eye {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: #FFF;
    border-radius: 100%;
    bottom: 8rem;
}
.container .cat .eye:before {
    position: absolute;
    display: block;
    background: #D98B3A;
    border-radius: 90% 90% 0 0;
    content: "";
    width: 4rem;
    height: 1.5rem;
    transition: height ease 2s;
    z-index: 2;
}
.container .cat .eye.left {
    left: 1rem;
}
.container .cat .eye.right {
    right: 1rem;
}
.container .cat .eye .pupil {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    width: 3.4rem;
    height: 3.4em;
    background: #000;
    border-radius: 100%;
}
.container .cat .eye .pupil:after {
    background: #FFF;
    position: absolute;
    display: block;
    content: "";
    top: 0rem;
    width: 2rem;
    height: 2em;
    border-radius: 100%;
}
.container .cat .mouth {
    position: absolute;
    background: #F1654C;
    bottom: 6.5rem;
    left: 5rem;
    width: 2rem;
    height: 0.3rem;
    transition: height ease 1s;
    border-radius: 0 0 90% 90%;
    -webkit-animation: mouth 2s infinite ease-in-out alternate;
    animation: mouth 2s infinite ease-in-out alternate;
}
.container .cat .mouth:after, .container .cat .mouth:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    border-top: 0.5rem solid white;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
}
.container .cat .mouth:before {
    left: 10%;
}
.container .cat .mouth:after {
    right: 10%;
}
.container .cat .arm {
    position: absolute;
    background: #bc7124;
    border-radius: 50%;
    bottom: 2.5rem;
    width: 2rem;
    height: 2rem;
    z-index: 2;
}
.container .cat .arm.left {
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg);
    left: 0.5rem;
}
.container .cat .arm.right {
    -webkit-transform: rotate(-54deg);
    transform: rotate(-54deg);
    right: 1.5rem;
}
.container .cat .arm:after {
    position: absolute;
    top: 0rem;
    content: "";
    width: 2rem;
    height: 1rem;
    background: #a66520;
    border-radius: 50% 50% 0 0;
}
.container .cat .feet {
    position: absolute;
    background: #d17e28;
    bottom: -1.5rem;
    width: 2rem;
    height: 1.5rem;
}
.container .cat .feet.left {
    left: 1rem;
}
.container .cat .feet.right {
    right: 1.5rem;
}
.container .cat .feet:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 2rem;
    height: 0.55rem;
    background: #91581c;
    border-radius: 90% 90% 0 0;
}
.container .cat .plate {
    position: absolute;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.23);
    bottom: 1.8rem;
    font: 10pt 'Segoe Print', cursive;
    border: 2px solid #CCC6A1;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 1.5rem;
    width: 8rem;
    height: 3.8rem;
    z-index: 1;
    color: black;
    text-align: center;
}

@-webkit-keyframes plate-hide {
    30% {
        -webkit-transform: rotate(180deg) translate(120%, 25%);
        transform: rotate(180deg) translate(120%, 25%);
    }
    70% {
        -webkit-transform: rotate(0deg) translate(0%, 25%);
        transform: rotate(0deg) translate(0%, 25%);
        z-index: -2;
    }
    100% {
        z-index: -2;
    }
}

@keyframes plate-hide {
    30% {
        -webkit-transform: rotate(180deg) translate(120%, 25%);
        transform: rotate(180deg) translate(120%, 25%);
    }
    70% {
        -webkit-transform: rotate(0deg) translate(0%, 25%);
        transform: rotate(0deg) translate(0%, 25%);
        z-index: -2;
    }
    100% {
        z-index: -2;
    }
}
@-webkit-keyframes arm-move {
    10% {
        -webkit-transform: translate(100%, 25%);
        transform: translate(100%, 25%);
    }
    30% {
        -webkit-transform: translate(-100%, -25%) rotate(234deg);
        transform: translate(-100%, -25%) rotate(234deg);
    }
    70% {
        -webkit-transform: translate(0%, 25%) rotate(54deg);
        transform: translate(0%, 25%) rotate(54deg);
        z-index: -2;
    }
    80% {
        -webkit-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
        z-index: 1;
    }
    100% {
        -webkit-transform: translate(0%, 0%) rotate(54deg);
        transform: translate(0%, 0%) rotate(54deg);
        z-index: 1;
    }
}
@keyframes arm-move {
    10% {
        -webkit-transform: translate(100%, 25%);
        transform: translate(100%, 25%);
    }
    30% {
        -webkit-transform: translate(-100%, -25%) rotate(234deg);
        transform: translate(-100%, -25%) rotate(234deg);
    }
    70% {
        -webkit-transform: translate(0%, 25%) rotate(54deg);
        transform: translate(0%, 25%) rotate(54deg);
        z-index: -2;
    }
    80% {
        -webkit-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%);
        z-index: 1;
    }
    100% {
        -webkit-transform: translate(0%, 0%) rotate(54deg);
        transform: translate(0%, 0%) rotate(54deg);
        z-index: 1;
    }
}
