body {
    color: white;
    background-color: #24292d;
    font: 14pt "Times New Roman", normal;
}

#DropZone {
    border-radius: 7%;
    font: 20pt 'Segoe Print', cursive;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 50%;
    min-height: 60vh;
}

.dropZone {
    border: 5px dashed beige;
}

.dropZone:hover {
    border: 5px solid #0095f5;
    background-color: rgba(0, 149, 245, 0.3);
}

.dropZone:hover:after {
    content: "Выберете файл вручную";
    color: black;
    font-weight: bolder;
    text-shadow: #ffffff 0 0 7px;
}

.dropZone:after {
    content: "Перетащите или выберете файл шаблона документа";
}

.displayNone{
    display: none;
}

.unitContainer{
    margin-bottom: 10px;
}

input{
    border-radius: 10px;
    padding-left: 3px;
    margin: 3px;
    border: 2px solid #c6c6c6;
    background-color:transparent;
    outline: none;
    color: white;
    font: 14pt "Times New Roman", normal;
}

input[type=number]{
    width: 200px;
    text-align: center;
}

input[type=text]{
    width: 700px;
}

input:focus{
    border: 2px solid #b70029;
    background-color: #e5e5e5;
    color: black;
}

select{
    border-radius: 10px;
    padding-left: 3px;
    margin: 3px;
    border: 2px solid #c6c6c6;
    background-color:transparent;
    outline: none;
    color: white;
    font: 14pt "Times New Roman", normal;

}

select:focus{
    border: 2px solid #b70029;
    background-color: #e5e5e5;
    color: black;
}
textarea{
    border-radius: 10px;
    padding-left: 3px;
    margin: 3px;
    border: 2px solid #c6c6c6;
    background-color:transparent;
    outline: none;
    color: white;
    font: 14pt "Times New Roman", normal;
    width: 700px;
    height: 200px;
    overflow-y:auto;
}


textarea:focus{
    border: 2px solid #b70029;
    background-color: #e5e5e5;
    color: black;

}


.selectedSubject{
    color: gold;
    font-weight: bolder;
}

.competence {
    display: inline-block;
    margin: 3px;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.competence:hover{
    background-color: #ffffff;
    border-color: #b70029;
    color: black;
    transition-delay: 0.1s;
}

.competence:active{
    background-color: black;
    border-color: black;
    color: white;
    transition: background-color 0.01s ease;
    transition-delay: 0s;
}

.closeCompetencesInfo {
    display: inline-block;
    border: 1px solid #9b0000;
    background-color: #9b0000;
    border-radius: 20%;
    margin-left: 5px;
    padding: 7px;
    cursor: pointer;
}
.closeCompetencesInfo:hover{
    background-color: #ff0000;
    border-color: #ff0000;
}






/*Полоса прокрутки*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(185, 3, 0, 0.7);
}