.selectFileSVG {
    background-image: url("../svg/hiring.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    height: 30vh;
    left: 0;
    right: 0;
    margin: auto;
    background-size: auto 95%;
    min-width:150px;
    min-height:150px;

}

.dropZone{
    background-image: url("../svg/drag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
.dropZone:hover {
    background-image: url("../svg/doc.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    transition:0.5s;
}


.dropZoneJSON{
    background-image: url("../svg/drag.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
.dropZoneJSON:hover {
    background-image: url("../svg/json-file.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    transition:0.5s;
}


.dropFile {
    border: 5px solid #0bff43;
    background-color: rgba(11, 255, 67, 0.31);
    background-image: url("../svg/okay.svg");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.questionSVG{
    background-image: url("../svg/question-mark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.okSVG{
    background-image: url("../svg/thumbs-up.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.viewSVG{
    background-image: url("../svg/view.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

.hideSVG{
    background-image: url("../svg/hide.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

.closeSVG{
    background-image: url("../svg/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

.sadSmileySVG{
    background-image: url("../svg/unhappy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
    padding: 12px;
    display: inline-block;

}

.addSVG{
    background-image: url("../svg/add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}

.deleteSVG{
    background-image: url("../svg/delete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;
}

.saveSVG{
    background-image: url("../svg/save.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%; 
}

.multiplySVG{
    background-image: url("../svg/multiply.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%; 
}