input[type=number]{
    width: 200px;
    text-align: center;
}

textarea{
    border-radius: 10px;
    padding-left: 3px;
    border: 2px solid #c6c6c6;
    background-color:transparent;
    outline: none;
    color: white;
    font: 14pt "Times New Roman", normal;
    overflow-y:auto;
    min-width: 210px;
    min-height: 55px;
    resize: none;
}

textarea:focus{
    border: 2px solid #b70029;
    background-color: #e5e5e5;
    color: black;
}

.textareaInput{
    width: 270px;
    height: 210px;
}

.textareaArray{
    width: 95%;
    height: 300px;
}

.textareaOtherLabel{
    width: 95%;
    height: 100px;
}

select{
    border-radius: 10px;
    padding-left: 3px;
    margin: 3px;
    border: 2px solid #c6c6c6;
    background-color:transparent;
    outline: none;
    color: white;
    font: 14pt "Times New Roman", normal;
}

select:focus{
    border: 2px solid #b70029;
    background-color: #e5e5e5;
    color: black;
}

.unitTemplateEditor{
    border: 4px solid #82819c;
    padding: 5px;
    border-radius: 10px;
    width: 610px;
    margin-top: 15px;
}

.unitTemplateEditor:hover{
    border: 4px solid #0c68c7;
    box-shadow: 0 0 3pt 2pt #0c68c7;
}

.key{
    display: inline-block;
}

.value{
    display: inline-block;
    margin-left: 5px;
}

.section{
    padding: 3px;
    border: 1px solid transparent;
    display: inline-block;
    margin: auto;
}
.buttonContainer{
    display: none;
    vertical-align: top;
}

.section:hover{
    background-color: #343a40;
    border-radius: 10px;
    border-color:black;
}

.section:hover .buttonContainer{
    display: inline-block;
}

.roundButton{
    border: 2px solid rgb(255, 255, 255);  
    display: inline-block; 
    border-radius: 50%;
    cursor: pointer;
    padding: 25px;
    margin: 2px;
 }

 .smallRoundButton{
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);  
    cursor: pointer;
    padding: 15px;
    margin-top: 10px;
    margin-left: 2px;
 }

 .fileButtonContainer{
     text-align: center;
 }
.buttonOval{
    display: inline-block;
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.buttonOval:hover{
    background-color:rgb(175, 133, 26); 
}
 
 .button_add:hover{ 
    background-color:#26613e;
    border-color: rgb(38, 255, 75); 
 }

.button_save:hover{
    background-color:#264e61;
    border-color: rgb(38, 157, 255);
}

.button_showHide:hover{
    background-color:#614c26;
    border-color: rgb(255, 186, 38);
}

.button_delete:hover{
    background-color:#612626;
    border-color: rgb(255, 38, 38);
}


.button_deleteBlock:hover{
    background-color: rgb(100, 0, 0);
    border-color: rgb(255, 0, 0);
}



.caption{
    font-size: 16pt;
    color:gold;
    text-align: center;
}


.column{
    display: inline-block;
    width: 630px;
    margin-left: 5px;
    vertical-align: top;
}

.keyValueWarning{
    font-style:italic;
    margin-top:10px;
    color:#1e8eff;
}

.smalFont{
    font-size: 10.5pt;
}

.important{
    color:gold;
}

.textInputLabel{
    display: inline-block;
    width: 165px;
}

.popupAddNewBlock{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.popupContent{
    margin: auto;
    display: inline-block;
    padding: 30px;
    background-color: #2a2b2a;
    box-shadow: 0 0 12px 2px #0cc7b6;
    border-radius: 10px;
}

.newElementTitle{
    color:gold;
    text-align: center;
    font-size: 20pt;
    margin-bottom: 20px;
    font-weight: bolder;
}

.newElementSubTitle{
    color:gold;
    margin: 10px 0;
    font-weight: bolder;
}

.newElementType{
    margin-bottom:10px;
    display: inline-block;
    cursor: pointer;
    padding: 3px;
}

.newElementType:hover{
    text-decoration:underline;
}

.subCategoryElemTypeStand{
    margin-left: 35px;
    margin-bottom: 10px;
}

.subNewElementTypeSelected{
    box-shadow: 0 0 12px 2px #0996b5;
    border-radius: 10px;
    background-color: #0a4f63;
}


.newElementTypeSelected{
    box-shadow: 0 0 12px 2px #09b566;
    border-radius: 10px;
    background-color: #0a633a;
}

.closePopup{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    margin-top: -40px;
    cursor: pointer;
    box-shadow: 0 0 9px 10px #a50707;
    background-color: #a50707;
}

.closePopup:hover{
    box-shadow: 0 0 9px 10px #ff0303;
    background-color: red;
}

.closeContainer{
    float:right;
}

.button_createNewElement{
    display: inline-block;
    padding: 10px;
    border: 2px solid #09b566;
    box-shadow: 0 0 7px 0px #09b566;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}
.button_createNewElement:hover{
background-color: #09b566;
}

.btnCreateNewElemContainer{
    margin-top: 25px;
    text-align: center;
}